.team-members-holder{
    display: block;
    float: left;
    position: relative;
    min-width: 100% !important;
    height: auto;
}
.team-members{
    width: 100%;
    position: relative;
    float: left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.team-member{
    position: relative;
    float: left;
    width: calc(100% - 20px);
    border-radius: 5px;
    margin: 7px;
    background-color: #fff;
    box-shadow: 0px 1px 3px #a6a8ac;
    -webkit-transition: all 0.40ms linear;
    height: 450px;
}

.member-info a{
    text-decoration: none;
}
.member-info a:hover{
    text-decoration: underline;
}
.member-name{
    text-align: center;
    text-decoration: none;
}
.taxonomy-terms{
    text-align: center;
}

.member-image img {
    width: 100%;
    height: 250px;
    border-radius: 50%;
}
.see_all_btn{
    text-align: center;
}
/*
.member-image{
    border-radius: 50%;
}*/
